@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --bg-color: #1F2833;
  --main-color: #45A29E;
  --main-bright: #66FCF1;
  --white: #fff;
  --black: #000;
  --gray: #C5C5C7;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  background-color: var(--bg-color);
  font-weight: 100;
  color: var(--main-color);
  overflow: auto;
}